* {
    text-decoration: none;
}

ul {
    list-style: none;
}

#root {
    width: 100%;
    box-shadow: var(--primary-box-shadow-bottom, black);
    background-color: var(--primary-bg-color);
}

.header-wrapper {
    height: 100%;
    margin: 0 2rem;
    display: flex;
}

.header-content {
    max-width: 1440px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.header-content > div {
    height: 100%;
}

.header-content .logo-wrapper {
    flex-grow: 1;
    display: flex;
}

.logo-content {
    width: 5rem;
    height: 5rem;
    margin-left: 0;
    display: flex;
    background-color: var(--primary-button-color, black);
}

.logo-content a.logo {
    width: 100%;
    margin: 0.6rem 0.4rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    overflow: hidden;
}

.logo-text {
    font-family: NotoSansKR-Black;
    font-size: 14px;
    text-align: left;
    color: var(--primary-font-color);
}

.logo-text .bottom-text {
    font-size: 15px;
}

.logo-bar-image {
    width: 50%;
    height: 0.3rem;
    margin-left: 0;
    background-color: red;
}

.header-content .navigation-wrapper {
    display: flex;
}

nav.main-navigation {
    display: flex;
}

ul.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

ul.navigation li {
    height: 100%;
    display: flex;
}

ul.navigation li button {
    width: 100%;
    margin: 0 0.5rem;
    font-size: 17px;
    font-family: NotoSansKR-Medium;
    color: var(--primary-font-color, white);
    background-color: transparent;
}

ul.navigation li button:hover {
    color: #adadad;
}