* {
    color: var(--primary-font-color);
}

#root {
    height: 100%;
}

.side-table-container {
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.title-wrapper {
    z-index: 2;
    box-shadow: var(--primary-box-shadow-bottom);
    background-color: var(--primary-bg-color);
}

.title {
    background-color: red;
}

.table-wrapper {
    flex-grow: 1;
    z-index: 1;
    background-color: cyan;
}

.user-info-wrapper {
    z-index: 2;
    background-color: chocolate;
}