* {
    color: var(--primary-font-color);
}

#root {
    height: 100%;
    overflow: hidden;
}

.side-table-container {
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
}

section.title {
    box-shadow: var(--primary-box-shadow-bottom);
    background-color: var(--primary-dark-bg-color);
    transition: background-color 0.4s ease;
}

section.title:hover {
    background-color: var(--primary-light-bg-color);
}

.title-wrapper {
    padding: 13px 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.title-label {
    flex: 1 1 auto;
    text-align: left;
    font-size: 15px;
    font-family: NotoSansKR-Bold;
}

.chevron-down {
    width: 20px;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.chevron-down .chevron-down-icon {
    filter: invert(80%);
    rotate: 180deg;
}





section.table {
    flex: 1 0 0px;
    overflow: hidden auto;
    background-color: var(--primary-bg-color);
}

.table-wrapper {
    margin-top: 0.5rem;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
}

section.footer {
    background-color: var(--primary-dark-bg-color);
}

.footer-wrapper {
    height: 3rem;
    margin: 0.3rem 0.7rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
}

.user-info-container {
    min-width: 50%;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-container img.user-profile {
    width: 2.5rem;
    border-radius: 2rem;
    background-color: white;
}

.user-info-container .user-info {
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align: left;
}

.user-info .user-name {
    line-height: 14px;
    font-size: 13px;
    font-family: NotoSansKR-Bold;
}

.user-info .user-description {
    line-height: 13px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-info .user-description > span {
    color: lightgray;
}

.button-container {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
}

.button-container button {
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}

button.setting .image-wrapper {
    width: inherit;
    height: inherit;
}