@font-face {
    font-family: "NotoSansKR-Black";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR-Light";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR-Medium";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR-Regular";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR-Thin";
    src: url("@assets/font/Noto_Sans_KR/NotoSansKR-Thin.otf") format("opentype");
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 0.7rem #5a5a5a;
    border: 0.15rem solid transparent;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #3f3f3f;
}

* {
    min-width: 0px;
    min-height: 0px;
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
    outline: none;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

ul, ol {
    list-style: none;
}

button {
    appearance: auto;
    cursor: pointer;
    background-color: transparent;
}

#app {
    --primary-dark-900-rgb: 4, 4, 5;
    --primary-light-900-rgb: 6, 6, 7;
    --primary-light-bg-color: #484848;
    --primary-bg-color: #343434;
    --primary-dark-bg-color: #252525;
    --primary-border-color: #101010;
    --primary-button-color: #000000;
    --primary-font-color: #ffffff;
    --primary-box-shadow-bottom: 0 1px 0 rgba(var(--primary-dark-900-rgb),0.2),
                                 0 1.5px 0 rgba(var(--primary-light-900-rgb),0.05),
                                 0 2px 0 rgba(var(--primary-dark-900-rgb),0.05);
    --primary-title-text-color: #ffffff;
    --primary-sub-title-text-color: #c7c7c7;

    font-family: NotoSansKR-Regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 1fr;
}

.header-wrapper {
    min-height: 5rem;
    z-index: 10;
}

.main-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 14rem 1fr;
}

.main-wrapper .aside-content {
    overflow-y: auto;
}

.main-wrapper .main-content {
}
