* {
    color: var(--primary-font-color);
}

.modal-mask {
    width: 100%;
    height: 100%;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    /*transition: opacity 0.3s ease;*/
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 460px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px 15px;
    border-radius: 15px;
    background-color: var(--primary-bg-color);
    /*transition: all 0.3s ease;*/
}

.modal-header {
    background-color: pink;
}

.modal-content {
    background-color: dodgerblue;
}

.modal-submit {
    background-color: forestgreen;
}
