* {

}

.modal-mask {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*transition: opacity 0.3s ease;*/
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    background-color: white;
}