* {

}

#root {

}

.cell-wrapper {

}

.category-container {
    padding: 2px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*justify-content: center;*/
    gap: 3px;
    background-color: #42b983;
}

img.chevron-icon {
    width: 12px;
    rotate: 90deg;

    background-color: pink;
}

h3.category-title {
    flex: 1 1 auto;
    padding: 2px 0;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 12px;
    font-weight: 500;
}

h3.category-title > div {
    overflow: inherit;
    white-space: inherit;
    text-overflow: inherit;
}

button.category-add {
    background-color: forestgreen;
}

.category-content {
    height: 10px;
    margin-top: 0.3rem;
    background-color: orange;
}