* {

}

#root {

}

img {
    filter: invert(50%);
}

.category-container {
    height: 24px;
    padding-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.category-content .chevron-icon {
    width: 12px;
    height: 12px;
    margin-right: 2px;
    rotate: 90deg;
}

h3.category-title {
    flex: 1 1 auto;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 12px;
    font-weight: 500;
    color: lightgray;
}

.category-add-wrapper {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.category-add {
    width: 18px;
    height: 18px;
}

button.category-add > img.plus-icon {
    width: 100%;
    height: 100%;
}

button.category-add > img.plus-icon:hover {
    filter: invert(80%);
    transition: filter 0.2s;
}

.category-dropdown {
    height: 60px;
    background-color: rebeccapurple;
}

